<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" id="viewport" content="width=640,user-scalable=0, target-densitydpi=320">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>机智的一笔</title>
  <link href="/styles/reset.css" rel="stylesheet" type="text/css">
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/vue.min.js" type="text/javascript"></script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js" type="text/javascript"></script>
  <script src="/js/TweenMax.min.js"></script>
  <script src="/js/troncell_wx2.js"></script>
  <script src="/js/preloadjs.min.js"></script>
  <script src="/js/soundjs.min.js"></script>
</head>
<style>
  * {
    /*阻止ios下点击区域变暗*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50vh;
    transform: translateY(-55%);
    left: 12vw;
  }

  .container.bigType {
    left: 9vw;
  }

  .container>div {
    width: 16vw;
    height: 16vw;
    margin: 1.2vw;
    position: relative;
  }

  .container.bigType>div {
    width: 14vw;
    height: 14vw;
    margin: 1.05vw;
  }

  .container div .inactive {
    height: 100%;
    background: #fff;
    border-radius: 20%;
    animation: startAnimation 1.5s;
    animation-fill-mode: forwards;
  }

  .container div .active {
    height: 100%;
  }

  .container div .nowActive {
    height: 100%;
  }

  .container div div img {
    position: absolute;
    height: 130%;
    top: 0;
    left: 0;
    width: 130%;
    top: -3vw;
    left: -3vw;
  }


  @keyframes startAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  .completeContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    animation: completeContainer 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes completeContainer {
    from {
      bottom: 100%;
    }

    to {
      bottom: 0%;
    }
  }

  #number {
    background: url(/img/clever-pen/number.png);
    background-size: cover;
    width: 7vw;
    height: 7vw;
    position: fixed;
    left: 46.5vw;
    top: 3vw;
  }

  #number.number1 {
    background-position: 0%;
  }

  #number.number2 {
    background-position: 11%;
  }

  #number.number3 {
    background-position: 22%;
  }

  #number.number4 {
    background-position: 33%;
  }

  #number.number5 {
    background-position: 44%;
  }

  #number.number6 {
    background-position: 55%;
  }

  #number.number7 {
    background-position: 66%;
  }

  #number.number8 {
    background-position: 77.5%;
  }

  #number.number9 {
    background-position: 88.5%;
  }

  #number.number10 {
    background-position: 100%;
  }

  #goList {
    position: absolute;
    width: 32%;
    left: 14%;
    top: 78%;
    animation: over 0.9s infinite;
    animation-timing-function: linear;
  }

  #restartGame {
    position: absolute;
    width: 32%;
    right: 14%;
    top: 78%;
    animation: over 0.9s infinite;
    animation-timing-function: linear;
  }

  #start {
    animation: start 0.9s infinite;
    animation-timing-function: linear;
  }

  @keyframes start {
    from {
      transform: scale(1)
    }

    50% {
      transform: scale(1.2)
    }

    to {
      transform: scale(1)
    }
  }

  @keyframes over {
    from {
      transform: scale(1)
    }

    50% {
      transform: scale(1.1)
    }

    to {
      transform: scale(1)
    }
  }

  .coupon {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 45%;
    animation: coupon 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes coupon {
    from {
      transform: translateX(-150%)
    }

    66% {
      transform: translateX(-150%)
    }

    to {
      transform: translateX(0)
    }
  }
</style>

<body>
  <div id="app">

    <div v-if="loading" class="basicLoading">
      <img src="/img/loading.gif">
    </div>

    <div v-if="!status" style="width:100%;height:100%;position:fixed;z-index:10;">
      <img style="position:absolute;width:100%;height:100%;" src="/img/clever-pen/bg.png">
      <img id="start" @click="restart(true)" style="position:absolute;width:24vw;bottom:10vw;left:38vw;display: none;"
        src="/img/clever-pen/start.png">
      <img @click="goList()" style="position:absolute;width:20vw;right:3vw;top:3vw;" src="/img/clever-pen/goList2.png">
      <img style="position:absolute;width:78vw;left:11vw;top:10vh;" src="/img/clever-pen/title-bg.png">
      <img id="rule" style="position:absolute;width:75vw;left:18vw;top:55vh;display: none;"
        src="/img/clever-pen/rule.png">
      <img style="position:absolute;width:22vw;left:18vw;top:calc(10vh + 14vw);" src="/img/clever-pen/font-ji.png">
      <img style="position:absolute;width:20vw;left:44vw;top:calc(10vh + 8vw);" src="/img/clever-pen/font-zhi.png">
      <img style="position:absolute;width:20vw;left:70vw;top:calc(10vh + 10vw);" src="/img/clever-pen/font-de.png">
      <img id="font-gif" style="position:absolute;width:20vw;left:25vw;top:calc(-20vh + -20vw);"
        src="/img/clever-pen/font-gif.gif">
      <img style="position:absolute;width:26vw;left:68vw;top:calc(10vh + 35vw);" src="/img/clever-pen/font-bi.png">
      <img id="font-yi" style="position:absolute;width:26vw;left:100vw;top:calc(10vh + 40vw);"
        src="/img/clever-pen/font-yi.png">
    </div>



    <img style="position:fixed;width:100%;height:100%;" src="/img/clever-pen/bg.png">
    <img style="position:fixed;width:100%;" src="/img/clever-pen/cloud.png">
    <img src="/img/clever-pen/di.png" style="width:8vw;position:fixed;left:36vw;top:2vw;">
    <div id="number" :class="levelClass"></div>
    <img src="/img/clever-pen/guan.png" style="width:8vw;position:fixed;left:56vw;top:2vw;">

    <div class="container" :class="{bigType}" @touchmove="touchmove">
      <div v-for="(item,index) of blockList" @click="changeActive(index)">


        <div :id="index" class="inactive" v-show="item.exist&&!item.active"></div>


        <div class="active" v-show="item.exist&&item.active&&index!=nowIndex">
          <!-- 因为考虑到起点只有单个方向,所以通过!进行判断 -->
          <img v-show="!item.top&&!item.bottom&&!item.left" src="/img/clever-pen/foot.png"
            style="transform:rotate(90deg)">
          <img v-show="!item.top&&!item.bottom&&!item.right" src="/img/clever-pen/foot.png"
            style="transform:rotate(270deg)">
          <img v-show="!item.bottom&&!item.left&&!item.right" src="/img/clever-pen/foot.png">
          <img v-show="!item.top&&!item.left&&!item.right" src="/img/clever-pen/foot.png"
            style="transform:rotate(180deg)">


          <img v-show="item.top&&item.bottom" src="/img/clever-pen/long.png">
          <img v-show="item.left&&item.right" src="/img/clever-pen/long.png" style="transform:rotate(90deg)">
          <img v-show="item.top&&item.right" src="/img/clever-pen/wheel.png">
          <img v-show="item.bottom&&item.right" src="/img/clever-pen/wheel.png" style="transform:rotate(90deg)">
          <img v-show="item.bottom&&item.left" src="/img/clever-pen/wheel.png" style="transform:rotate(180deg)">
          <img v-show="item.top&&item.left" src="/img/clever-pen/wheel.png" style="transform:rotate(270deg)">

        </div>


        <div class="nowActive" v-show="index==nowIndex">
          <img v-show="!item.top&&!item.bottom&&!item.left&&!item.right" src="/img/clever-pen/full.gif">
          <!-- <img v-show="!item.top&&!item.bottom&&!item.left&&!item.right" src="/img/clever-pen/full.png"> -->
          <img v-show="item.bottom" src="/img/clever-pen/head.gif">
          <img v-show="item.top" src="/img/clever-pen/head.gif" style="transform:rotate(180deg)">
          <img v-show="item.left" src="/img/clever-pen/head.gif" style="transform:rotate(90deg)">
          <img v-show="item.right" src="/img/clever-pen/head.gif" style="transform:rotate(270deg)">
        </div>



      </div>
    </div>

    <img @click="restart()" src="/img/clever-pen/restart.png" style="position:fixed;width:20%;left:40%;bottom:3vw;">
    <div style="position:fixed;width:28%;left:2%;top:1vw;">
      <img src="/img/clever-pen/score.png" style="width:100%;">
      <div
        style="width: 16vw;height: 8vw;position: absolute;left: 10vw;top: 1.5vw;text-align: center;color:#fff;font-size: 5vw;">
        {{score}}</div>
    </div>

    <div style="position:fixed;width:28%;right:2%;top:1vw;">
      <div
        style="width: 16vw;height: 8vw;position: absolute;left: 10vw;top: 1.5vw;text-align: center;color:#fff;font-size: 5vw;">
        {{time}}</div>
      <img src="/img/clever-pen/time.png" style="width:100%;">
    </div>

    <div class="completeContainer" v-show="completeContainer&&gameOver">
      <img src="/img/clever-pen/chicken-score.png" style="position:absolute;width:95%;left:5%;top:15%;">
      <img src="/img/clever-pen/gameover.png" style="position:absolute;width:42%;left:36%;top:19%;">
      <img src="/img/clever-pen/defen.png" style="position:absolute;width:22%;left:12%;top:15%;margin-top:23vw;">
      <div
        style="width:32%;position:absolute;left:46%;top:15%;margin-top:20vw;font-size:10vw;color:#fff;text-align: center;">
        {{score}}</div>
      <template v-if="!noTicket">
        <img v-show="couponSrc" class="coupon" :src="couponSrc">
      </template>
      <img id="goList" @click="goList(true)" src="/img/clever-pen/goList.png">
      <img id="restartGame" @click="restartGame()" src="/img/restartGame.png">
    </div>

    <div class="completeContainer" v-show="completeContainer&&!gameOver">
      <img src="/img/clever-pen/next-bg.png" style="position:absolute;width:95%;left:5%;top:15%;height:60%;">
      <img src="/img/clever-pen/congratulation.png" style="position:absolute;width:42%;left:36%;top:21%;">
      <div
        style="width:100%;position:absolute;left:0;top:28%;margin-top:20vw;font-size:12vw;color:#fff;text-align: center;letter-spacing:2vw;">
        {{score}}</div>
      <img id="next" @click="restart(true)" src="/img/clever-pen/next.png"
        style="position:absolute;width:22%;left:-30%;top:56%;">
    </div>

  </div>

</body>

<script>
  //阻止微信下拉刷新
  document.body.addEventListener('touchmove', function (e) {
    e.preventDefault()
  }, { passive: false })

  var app = new Vue({
    el: '#app',
    data: {
      nowIndex: 0,
      blockList: [],
      levelConfig: [],
      score: 0,
      time: 30,
      timer: undefined,
      completeContainer: false,
      loading: false,
      levelJson: [
        [{ startIndex: 1, inactiveList: [0, 3, 12, 15], totalLength: 16, score: 2 },
        { startIndex: 2, inactiveList: [3, 8], totalLength: 16, score: 2 },
        { startIndex: 0, inactiveList: [4, 7], totalLength: 16, score: 2 },
        { startIndex: 1, inactiveList: [0, 10, 12], totalLength: 16, score: 2 }],
        [{ startIndex: 0, inactiveList: [9], totalLength: 20, score: 3 },
        { startIndex: 0, inactiveList: [1, 13, 18, 19], totalLength: 20, score: 3 },
        { startIndex: 1, inactiveList: [16, 18, 19], totalLength: 20, score: 3 },
        { startIndex: 0, inactiveList: [1, 13], totalLength: 20, score: 3 }],
        [{ startIndex: 19, inactiveList: [16, 17, 18], totalLength: 25, score: 4 },
        { startIndex: 7, inactiveList: [2, 3, 12, 23, 24], totalLength: 25, score: 4 },
        { startIndex: 0, inactiveList: [3, 4, 11, 14, 20], totalLength: 25, score: 4 },
        { startIndex: 0, inactiveList: [8, 19], totalLength: 25, score: 4 }],
        [{ startIndex: 18, inactiveList: [2, 3, 4, 17, 20], totalLength: 25, score: 5 },
        { startIndex: 0, inactiveList: [4, 5, 9, 12, 14], totalLength: 25, score: 5 },
        { startIndex: 21, inactiveList: [3, 4, 18, 19, 20], totalLength: 25, score: 5 },
        { startIndex: 4, inactiveList: [0, 1, 9, 14, 16], totalLength: 25, score: 5 }],
        [{ startIndex: 5, inactiveList: [0, 1, 9, 10, 24], totalLength: 25, score: 6 },
        { startIndex: 0, inactiveList: [5, 12, 14, 17], totalLength: 25, score: 6 },
        { startIndex: 14, inactiveList: [3, 4, 18, 19], totalLength: 25, score: 6 },
        { startIndex: 10, inactiveList: [16, 19, 21, 24], totalLength: 30, score: 6 }]
      ],
      nowLevel: -1,
      gameOver: false,
      securityKey: '',//b412a9a485d844d0b56cce5ef29d8859
      actionId: '',
      openId: '',
      couponSrc: '',
      status: 0,
      noTicket: false,
      SnsUserInfoId: null

    },
    computed: {
      bigType: function () {//totalLength 16/20=>0 25=>1
        if (this.levelConfig[this.nowLevel]) {//buildLevelConfig后才存在
          return parseInt(this.levelConfig[this.nowLevel].totalLength / 25)
        }
      },
      levelClass: function () {
        return 'number' + (this.nowLevel + 1)
      }
    },
    watch: {
      completeContainer: function (bol) {
        if (bol) {
          this.playAudio('over')

          if (this.time <= 0 || this.nowLevel == this.levelConfig.length - 1) {
            this.gameOver = true;
            if (this.score <= 900) {
              this.couponSrc = '/img/clever-pen/p10.png'
            } else if (this.score <= 1800) {
              this.couponSrc = '/img/clever-pen/p50.png'
            } else {
              this.couponSrc = '/img/clever-pen/p80.png'
            }
            $.post('https://activity.api.troncell.com/api/UserAction/PostDataByUser', {
              OpenId: this.openId,
              actionId: this.actionId,
              QrType: 'AfterGame',
              SnsType: 'WeChat',
              Score: this.time == 0 ? this.score : this.score + this.levelConfig[this.nowLevel].score * 30 + this.time * 3,
              SecurityKey: this.securityKey
            }, function (result) { })
          }
        } else {
          $('#next').css({ left: '-30%' })
        }
      }
    },
    methods: {
      kindId: function (name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
          return decodeURI(r[2]);
        } else {
          return false;
        };
      },
      changeActive: function (index) {
        var item = this.blockList[index];
        var _this = this;

        if (!item || !item.exist || item.active || this.time == 0) {
          return
        }
        var itemPerRow = this.bigType ? 5 : 4;
        var itemTop = parseInt(index / itemPerRow);
        var itemLeft = index % itemPerRow;
        var lastTop = parseInt(this.nowIndex / itemPerRow);
        var lastLeft = this.nowIndex % itemPerRow;
        console.log(itemTop, itemLeft, lastTop, lastLeft);
        if ((itemTop == lastTop && Math.abs(itemLeft - lastLeft) == 1) || (itemLeft == lastLeft && Math.abs(itemTop - lastTop) == 1)) {

          if (itemTop == lastTop && itemLeft - lastLeft == 1) {
            this.blockList[this.nowIndex].right = true
            this.blockList[index].left = true
          } else if (itemTop == lastTop && itemLeft - lastLeft == -1) {
            this.blockList[this.nowIndex].left = true
            this.blockList[index].right = true
          } else if (itemTop - lastTop == 1 && itemLeft == lastLeft) {
            this.blockList[this.nowIndex].bottom = true
            this.blockList[index].top = true
          } else if (itemTop - lastTop == -1 && itemLeft == lastLeft) {
            this.blockList[this.nowIndex].top = true
            this.blockList[index].bottom = true
          }
          _this.playAudio('right');

          item.active = true;
          this.nowIndex = index;
          this.checkComplete();
        } else {
          if (this.blockList[index].wrongTap) { return }
          _this.playAudio('wrong');
          this.blockList[index].wrongTap = true;
          var wrongTap = TweenMax.fromTo("#" + index, 0.15, { scale: 1 }, {
            scale: 0.8, ease: Power0.easeNone, onComplete: function () {
              wrongTap.reverse()
            }, onReverseComplete: function () {
              setTimeout(function () {
                _this.blockList[index].wrongTap = false;
              }, 500)
            }
          });
        }

      },
      touchmove: function (event) {
        var element = document.elementFromPoint(event.touches[0].clientX, event.touches[0].clientY)
        if ($(element).prop('id')) {
          this.changeActive($(element).prop('id'))
        }
      },
      checkComplete: function () {
        var _this = this;
        var completeFlag = true;
        for (var i = 0; i < this.blockList.length; i++) {
          if (this.blockList[i].exist && !this.blockList[i].active) {
            completeFlag = false
          }
        }



        if (completeFlag) {
          _this.playAudio('over');
          _this.completeContainer = true;

          var tweenObj = { score: Number(_this.score) }
          TweenLite.to(tweenObj, 1.5, {
            score: Number(_this.score + _this.levelConfig[_this.nowLevel].score * 30 + _this.time * 3),
            onUpdate: function () {
              _this.score = Number(tweenObj.score.toFixed(0))
            }, onComplete: function () {
              setTimeout(function () {
                TweenMax.fromTo("#next", 0.5, { left: '-30%' }, { left: '39%' });
              }, 300)
            }
          })
          clearInterval(this.timer);
        }
      },
      restartGame: function () {
        var _this = this;
        this.nowLevel = -1;
        this.gameOver = false;
        this.score = 0;
        this.levelConfig = [];
        this.buildLevelConfig(0);
        $.post('https://activity.api.troncell.com/api/UserAction/PostPlayerData4ActionQrcode', {
          QrType: 'AfterGame',
          SecurityKey: this.securityKey,
          SnsType: "WeChat",
          FromType: 'mobile',
          SnsUserInfoId: this.SnsUserInfoId
        }, function (result) {
          if (result.success) {
            console.log(result.result.actionId);
            _this.actionId = result.result.actionId;
          }
        })
        this.restart(true);
      },
      restart: function (goNext) {
        this.status = 1;
        this.completeContainer = false;

        var _this = this;
        _this.playAudio('start-mp3');

        if (goNext) {
          this.nowLevel = this.nowLevel + 1;
          clearInterval(_this.timer);
          _this.time = 30.0;
          // _this.time = 5;
          _this.timer = setInterval(function () {
            _this.time = _this.time - 1
            if (_this.time < 1) {
              clearInterval(_this.timer);
              _this.completeContainer = true;
            }
          }, 1000)
        }


        this.blockList = [];
        setTimeout(function () {//创造延时,触发animation,否则vue会一起渲染
          _this.nowIndex = _this.levelConfig[_this.nowLevel].startIndex;
          for (var i = 0; i < _this.levelConfig[_this.nowLevel].totalLength; i++) {
            _this.blockList.push({
              active: false,
              top: false,
              right: false,
              bottom: false,
              left: false,
              exist: _this.levelConfig[_this.nowLevel].inactiveList.indexOf(i) != -1 ? false : true
            })
          }
          _this.blockList[_this.nowIndex].active = true;
        })

      },
      buildLevelConfig: function (index) {
        if (index > this.levelJson.length - 1) { return }
        var arr = this.levelJson[index];
        function randomsort(a, b) {
          return Math.random() > .5 ? -1 : 1; //通过随机产生0到1的数，然后判断是否大于0.5从而影响排序，产生随机性的效果。
        }
        arr.sort(randomsort);
        this.levelConfig.push(arr[0]);
        this.levelConfig.push(arr[1]);
        this.buildLevelConfig(index + 1);
      },
      goList: function () {
        window.location.href = 'https://m.sensingstore.com/plane-ranking.html?actionId=' + this.actionId;
      },
      playAudio: function (audioId) {
        createjs.Sound.play(audioId)
      },
      afterPreload() {
        var _this = this;
        _this.buildLevelConfig(0);
        _this.actionId = _this.$options.methods.kindId.bind(_this)('actionId');
        $.post('https://activity.api.troncell.com/api/UserAction/ActionDataById', {
          actionId: _this.actionId
        }, function (result) {
          if (result.success) {
            _this.loading = false;
            // setWX(result)
            if (_this.noTicket) {
              setWX(result, ['hideOptionMenu'])
            } else {
              setWX(result);
            }
            _this.openId = result.result.snsUserInfo.openid;
            _this.securityKey = result.result.deviceActivityGame.securityKey;
            _this.SnsUserInfoId = result.result.snsUserInfoId.id;
            startTweenmax()
          }
        })

        function startTweenmax() {
          TweenMax.to("#font-gif", 0.8, {
            delay: 0.5, top: 'calc(10vh + 35vw)', rotation: 720, ease: Power0.easeNone, onComplete: function () {
              _this.playAudio('right')
              TweenMax.to("#font-yi", 0.5, {
                left: '38vw', onComplete: function () {
                  $('#rule').fadeIn(500)
                  setTimeout(function () {
                    $('#start').fadeIn()
                  }, 500)
                }
              })
            }
          })
        }

      }
    },
    mounted: function () {
      this.noTicket = this.kindId("noTicket");
      this.loading = true;
      var queue = new createjs.LoadQueue();
      queue.installPlugin(createjs.Sound);
      queue.on("complete", this.afterPreload, this);
      queue.loadManifest([
        { id: "right", src: "/img/clever-pen/right.wav" },
        { id: "start-mp3", src: "/img/clever-pen/start.mp3" },
        { id: "wrong", src: "/img/clever-pen/wrong.mp3" },
        { id: "over", src: "/img/clever-pen/over.mp3" },
        '/img/clever-pen/head.gif',
        '/img/clever-pen/foot.png',
        '/img/clever-pen/long.png',
        '/img/clever-pen/wheel.png'
      ]);
    }
  })




</script>

</html>