#App.App.App {
  background-image: url(./assets/img/App/bg-p.png);

  .menu {
    bottom: 12vh;
    height: 6.6vmax;
    width: 90%;
    left: 5%;
    background-image: url("./assets/img/App/menu-p.png");
    background-position: center center;
    background-size: 100% 2%;
    background-repeat: no-repeat;
    z-index: 2;

    div {

      &:nth-child(1) {
        left: 7%;
      }

      &:nth-child(2) {
        left: 22.5%;
      }

      &:nth-child(3) {
        left: 38%;
      }

      &:nth-child(4) {
        left: 45.5%;
        width: 11vw;
        height: 11vw;
        top: 9vh;
        background-image: url("./assets/img/App/home.png");
        background-size: 100% 100%;
      }

      &:nth-child(5) {
        right: 37.5%;
      }

      &:nth-child(6) {
        right: 22%;
      }

      &:nth-child(7) {
        right: 7.5%;
      }
    }
  }

  #Home {
    background-image: url(./assets/img/Home/bg-p.png);

    .container {
      height: 38%;
      width: 70%;
      top: 22%;
    }
  }

  #Environment {
    .map {
      width: 72%;
      height: 66%;
      left: 14%;
      top: 10%;
      background-image: url(./assets/img/Environment/map-p.png);
    }
  }

  #Activity {
    .outer-container {
      #swiper-container {
        margin-top: 8vh;
        height: 56vh;

        .swiper-slide {
          width: 100%;
          height: 52vw;
        }
      }
    }

    .prev {
      background-image: url(./assets/img/btn-up.png);
      left: auto;
      right: 7%;
      top: 8%;
    }

    .next {
      background-image: url(./assets/img/btn-down.png);
      right: 7%;
      top: 72%;
    }
  }

  #Search {
    .brand-container {
      left: 6vw;
      top: 38vh;
      height: 40vmax;
      background-color: transparent;
      box-shadow: none;

      .brand-main {
        height: 91%;

        .swiper-container {
          .swiper-slide {
            // width: 13.5vmax;
            // height: 11vmax;
            width: 100%;
            height: 100%;
            .brand-item {
              width: 30%;
              margin-right: 2%;
              height: 10vmax;
            }
          }
        }
      }
      .btn1 {
        bottom: 4vh;
      }
      .btn2 {
        bottom: 0vh;
      }
    }

    .keybord-container {
      top: 8vh;
      width: 84vw;
      left: 8vw;

      .form-control {
        .input {
          width: 82%;
        }
      }
    }
  }

  #Recommend {
    .nav {
      margin: 8vh 2vw 0;
      width: 96vw;
    }

    .sub-nav {
      width: 90vw;
      margin-top: 4vh;

      .swiperSubNav {
        width: 82vw;

        .swiper-slide {
          .subnav-box {
            .sub-item {
              width: 14vw;
            }
          }

        }
      }


    }

    .main {
      height: 70vw;
      margin-top: 6vh;

      .swiperBrand {
        width: 72vw;
        height: 43vh;

        .swiper-slide {
          height: 10.7vh;
        }
      }
    }

    .prevSlider {
      background-image: url(./assets/img/btn-up.png);
      left: 87%;
      top: 22%;
    }

    .nextSlider {
      background-image: url(./assets/img/btn-down.png);
      left: 87%;
      top: 64%;
    }
  }

  #Queue {
    .queueContainer {
      padding-top: 18vmin;

      .swiper-container {
        margin-left: 2vw;
        height: 66vmax;
        width:88vw;
        .swiper-slide {
          .storeListContainer {
            .itemContainer {
              height:25%;
              width:100%;
            }
          }
        }
      }
    }

    .prev {
      background-image: url(./assets/img/btn-up.png);
      left: auto;
      right: 2%;
      top: 11.5%;
    }

    .next {
      background-image: url(./assets/img/btn-down.png);
      top: 73.5%;
    }
  }

  #QueueDetail {
    .back {
      position: absolute;
      left: 46.5%;
      bottom: 4vh;
    }

    .main {
      height: 76%;
      width: 76%;
      left: 12%;
      top: 12%;

      .logo {
        width: 80%;
        height: 50%;
        top: 25%;
        left: 50%;
      }

      .name {
        width: 100%;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
      }

      .slogan {
        left: 10%;
        width: 80%;
        max-width: 80%;
        text-align: center;
        top: 59%;
        padding-bottom: 1.5vmax;
        text-indent: 0;
        padding-right: 0;
      }

      .addressAndTime {
        left: 15%;
        width: 70%;
        top: 68%;
      }

      .qrcodeContainer {
        right: 35%;
        bottom: 11%;
      }

      .tip {
        left: 0%;
        width: 100%;
        text-align: center;
        bottom: 4%;
      }
    }
  }

  #RoomDetail {
    .back {
      right: 47%;
      bottom: 22%;
    }

    .main {
      width: 100%;
      height: 48vh;
      left: 0;
      top: 20%;

      .imageUrl {
        top: 18%;
        width: 100%;
        height: 51vw;
      }

      .description {
        width: 100%;
        left: 0;
        padding: 0 2%;
        box-sizing: border-box;
        top: 82%;
      }

      .goRoom {
        right: 2%;
        bottom: 2%;
      }

      .addressAndTel {
        top: 10%;
      }
    }
  }


  #Navigation {
    #leftBtnList {
      left: auto;
      right:5%;
      bottom: 20%;
      display: flex;
    }
    #topBtnList {
      left: 5vw;
      top: 42vh;
    }
    #brandList {
      width: 76vw;
      height: 26vh;
      left: 12vw;
      top: 8.5vh;
      background-color: transparent;
      box-shadow: none;

      .title {
        text-align: right;
        position: relative;
        bottom: 1vw;
        right: 1vw;
      }

      .swiper-container {
        width: 100%;
        height: 88%;
        top: 12%;
        left: 0%;

        .swiper-slide {
          text-align: center;
          position: relative;
          // height: 100%;
          // width:20%;
          .logoListContainer {
            .logoContainer {
              width: 19%;
              height: 30%;
            }
          }
        }
      }

      .btn-up {
        background-image: url(./assets/img/btn-left.png);
        display: block;
        left: -6vw;
        top: 50%;
      }

      .btn-down {
        background-image: url(./assets/img/btn-right.png);
        left: calc(100% + 6vw);
        top: 50%;
      }
    }

    #mapContainer {
      // overflow: hidden;
      // position: absolute;
      top:40vh;
    }

    #floorList {
      height: 7vw;
      width: 82vw;
      top: 35vh;
      left: 9%;

      .swiper-container {
        .floorContainer {
          width: 14vw;
          height: 100%;

          .floorItem {
            height: 100%;
            img {
              width: 2vmax;
              vertical-align: middle;
            }
          }
          .line {
            top:20%;
            height:60%;
            left:110%;
            width:0.4vw;
          }
        }
      }
      .arrow-up {
        width: 2.5vmax;
        height: 2.5vmax;
        left: -4%;
        top: 1vw;
        transform: translateX(-50%);
        background-image: url(./assets/img/Navigation/arrow-prev.png);
      }
      .arrow-down {
        width: 2.5vmax;
        height: 2.5vmax;
        left: 104%;
        top: 1vw;
        transform: translateX(-50%);
        background-image: url(./assets/img/Navigation/arrow-next.png);
      }
    }
  }
}