<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,62}</string>
                <key>spriteSourceSize</key>
                <string>{75,62}</string>
                <key>textureRect</key>
                <string>{{66,0},{75,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{141,0},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{224,0},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{307,0},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{390,0},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{0,62},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl1_map1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,442}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{0,573},{480,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl1_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{480,434}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{0,139},{480,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl1_map3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{480,478}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{0,1475},{480,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl1_map4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,480}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{0,1015},{460,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>supply01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,121}</string>
                <key>spriteSourceSize</key>
                <string>{70,121}</string>
                <key>textureRect</key>
                <string>{{83,69},{70,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>supply02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,125}</string>
                <key>spriteSourceSize</key>
                <string>{70,125}</string>
                <key>textureRect</key>
                <string>{{204,69},{70,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>supply03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,124}</string>
                <key>spriteSourceSize</key>
                <string>{70,124}</string>
                <key>textureRect</key>
                <string>{{329,69},{70,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads.png</string>
            <key>size</key>
            <string>{480,1953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87149fba473e71a81de018514cfa7cc0:3e4cab24ffbda49423e65c11ed39b6bc:e861265849d2cd5eee2fb6b45a6e32d0$</string>
            <key>textureFileName</key>
            <string>ads.png</string>
        </dict>
    </dict>
</plist>
