<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{420,485},{66,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,62}</string>
                <key>spriteSourceSize</key>
                <string>{75,62}</string>
                <key>textureRect</key>
                <string>{{356,485},{75,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{1,485},{83,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{72,485},{83,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{143,485},{83,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{214,485},{83,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{285,485},{83,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvl1_map1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,224}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,243},{240,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvl1_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,222}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{227,243},{240,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvl1_map3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl1_map4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,1},{236,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>supply01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{451,243},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>supply02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{451,276},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>supply03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{451,309},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads.png</string>
            <key>size</key>
            <string>{483,569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aef13e92cf8bccf3748ebd085ddbc06:404cad18ddb8e54b23e84ed62d9a05d3:e861265849d2cd5eee2fb6b45a6e32d0$</string>
            <key>textureFileName</key>
            <string>ads.png</string>
        </dict>
    </dict>
</plist>
