<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,852}</string>
                <key>spriteSourceSize</key>
                <string>{320,852}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,852}</string>
                <key>spriteSourceSize</key>
                <string>{320,852}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{640,658},{64,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,85}</string>
                <key>spriteSourceSize</key>
                <string>{49,85}</string>
                <key>textureRect</key>
                <string>{{766,559},{49,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,85}</string>
                <key>spriteSourceSize</key>
                <string>{66,85}</string>
                <key>textureRect</key>
                <string>{{726,658},{66,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,99}</string>
                <key>spriteSourceSize</key>
                <string>{126,99}</string>
                <key>textureRect</key>
                <string>{{640,559},{126,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{158,178}</string>
                <key>textureRect</key>
                <string>{{640,381},{158,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{176,125}</string>
                <key>spriteSourceSize</key>
                <string>{180,131}</string>
                <key>textureRect</key>
                <string>{{642,257},{176,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,127}</string>
                <key>spriteSourceSize</key>
                <string>{180,131}</string>
                <key>textureRect</key>
                <string>{{642,130},{176,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{176,129}</string>
                <key>spriteSourceSize</key>
                <string>{180,131}</string>
                <key>textureRect</key>
                <string>{{642,1},{176,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textureTransparentPack.png</string>
            <key>size</key>
            <string>{816,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e5f4c74abff1098b7cc0579704c7043:d8172411cf18b0cf6259d46b7d6d0582:5d26126a161a5fe2b83a90161eb6e79f$</string>
            <key>textureFileName</key>
            <string>textureTransparentPack.png</string>
        </dict>
    </dict>
</plist>
